# Executables
sample

# Library and binary directories

lib/*
!lib/README.md
bin/*
!bin/README.md

# Doxygen folders
html
latex

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swap files
*.swp

# tags file
tags

# Backup files
*~

# Dependency files
*.d
