# Doxygen folders
html
latex

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# gcov and gprof files
*.gcno
*.gcda
gmon.out
run_profile

# Vim swap files
*.swp

# Backup files
*~
